
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}
#select .select-input{
	height: 30px;
    color: #154349;
    border-radius: 5px;
    border: 2px solid #64CEAA;
}

