#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.select-input{
  height: 30px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #64CEAA;
}
form{
  display: inline-block;
}
#input{
  height: 24px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #64CEAA;
  display:inline-block;
  padding-right:10px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #64CEAA;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 85px;
  color: gray;
}
